/* DEFAULTS
----------------------------------------------------------*/

body
{
	background: #b6b7bc none repeat scroll 0 0 !important;
	color: #696969;
	font-size: .80em;
	font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
	margin: 0px;
	padding: 0px;

}

a:link, a:visited
{
	color: #034af3;
}

a:hover
{
	color: #1d60ff;
	text-decoration: none;
}

a:active
{
	color: #034af3;
}

p
{
	margin-bottom: 10px;
	line-height: 1.6em;
}

img
{
	border: none;
}

/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
	font-size: 1.5em;
	color: #666666;
	font-variant: small-caps;
	text-align: left;
	text-transform: none;
	font-weight: 200;
	margin-bottom: 0px;
}

h1
{
	font-size: 1.6em;
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-weight: 600;
}

h2
{
	font-size: 1.4em;
	font-weight: 600;
}

h3
{
	font-size: 1.2em;
	font-weight: 600;
}

h4
{
	font-size: 1.1em;
}

h5, h6
{
	font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
	margin-top: 0px;
}

/* PRIMARY LAYOUT ELEMENTS
----------------------------------------------------------*/

.page
{
	background-color: #fff;
	border: 1px solid #496077;
	margin: 10px auto 0px auto;
	width: 1000px;
}

.header
{
	background: #4b6c9e;
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
}
.header h1
{
	font-weight: 700;
	margin: 0;
	padding: 0 20px;
	color: #f9f9f9;
	border: none;
	line-height: 1.8em;
	font-size: 2.5em;
	width: auto;
}

.logo
{
	display: block;
	border: none;
	float: left;
	padding: 4px;
}
.logo img
{
	border: none;
}

.loginDisplay
{
	font-size: 1.1em;
	display: block;
	text-align: right;
	padding: 5px 10px;
	color: White;
}
.loginDisplay a:link
{
	color: White;
}
.loginDisplay a:visited
{
	color: White;
}
.loginDisplay a:hover
{
	color: White;
}

.searchTextBox
{
	float: right;
	margin: 6px;
	width: 200px;
}
.searchImageButton
{
	float: right;
	margin: 6px 6px 6px 0px;
}

.main
{
	/*border: 1px dotted gray;*/
	padding: 0px;
	margin: 15px;
	min-height: 400px;
}

.sidebar
{
	border: 1px solid #aec7ec;
	background-color: #f0f8ff;
	float: left;
	margin-bottom: 10px;
	width: 210px;
}

.filterHeader
{
	color: black;
	background-color: #aec7ec;
	padding: 3px 8px;
}

.rightImage
{
	border: 1px solid #dedede;
	float: left;
	padding: 0px 10px 0px 0px;
	width: 275px;
}

.content
{
	/*border: 1px dotted red;*/
	margin-left: 225px;   
	padding: 0px;
	/*width: 675px;*/
}

.footer
{
	color: #4e5766;
	font-size: 0.9em;
	padding: 4px 0;
	margin: 0px auto;
	text-align: center;
	line-height: normal;
	white-space: nowrap;
}

/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
	background-color: #3a4f63;
	margin: 0px;
	padding: 0px;
	height: 35px;
}
div.hideSkiplink#left_column table a
{
	display: block;
}

div.menu
{
	background-color: #3a4f63; /*+*/
	padding: 4px 0px 4px 8px;
}

div.menu ul
{
	list-style: none;
	margin: 0px;
	padding: 0px;
	width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
	background-color: #465c71;
	border: 1px #4e667d solid;
	color: #dde4ec;
	display: block;
	line-height: 1.35em;
	padding: 4px 20px;
	text-decoration: none;
	white-space: nowrap;
}

div.menu ul li a:hover
{
	background-color: #bfcbd6;
	color: #465c71;
	text-decoration: none;
}

div.menu ul li a:active
{
	background-color: #465c71;
	color: #cfdbe6;
	text-decoration: none;
}

/* GRIDVIEW   
ignore HeaderStyle-Font-Bold="False"
----------------------------------------------------------*/

.GridViewHeaderStyle th 
{
	font-weight: normal; 
}

/* DROPDOWNLIST    
----------------------------------------------------------*/

.DropDownListControl
{
	font-size: 1.1em;
	font-weight: 600;
	padding: 10px 10px 10px 0px;
}
.DropDownListItems
{
	padding: 2px;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

div.accountInfo
{
	width: 400px;
}

fieldset
{
	margin: 1em 0px;
	padding: 1em;
	border: 1px solid #ccc;
}

fieldset p
{
	margin: 2px 12px 8px 10px;
}

fieldset.login label, fieldset.register label
{
	display: block;
}

fieldset label.inline
{
	display: inline;
}

legend
{
	font-size: 1.1em;
	font-weight: 600;
	padding: 2px 4px 8px 4px;
}

input.textEntry
{
	width: 320px;
	border: 1px solid #ccc;
}

input.passwordEntry
{
	width: 320px;
	border: 1px solid #ccc;
}

/* TABLE  
----------------------------------------------------------*/

.formEditTable
{
	border-spacing: 10px;
	border-collapse: separate;
}

.formEditTable th
{
	font-weight: normal; 
	text-align: left; 
}

.formEditTable th.required
{
	font-weight: 600; 
	text-align: left; 
}

/* MISC  
----------------------------------------------------------*/

.clear
{
	clear: both;
}

.cleaner
{
	clear: both;
	height: 1px;
	font-size: 1px;
	border: none;
	margin: 0;
	padding: 0;
	background: transparent;
}

.title
{
	display: block;
	float: left;
	text-align: left;
	width: auto;
}

.failureNotification
{
	font-size: 1.1em;
	color: Red;
}

.bold
{
	font-weight: bold;
}

.submitButton
{
	text-align: right;
	padding-right: 10px;
}

hr
{
	clear: both;
	border: none;
	visibility: hidden;
}
hr.line
{
	color: Silver;
	background-color: Silver; /*Mozzila*/
	height: 1px;
	visibility: visible;
}
hr.clear
{
	margin: -1em 0 0 0;
	visibility: hidden;
}

