<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.serviceModel>
        <client>
            <endpoint name="WsHttpDozpService"
                      address="http://localhost:12623/Service.svc"
                      xdt:Transform="SetAttributes"
                      xdt:Locator="Match(name)">
                <!--<identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAAGcBv3GLkl1BD3xad9pp8oaiNPFogAAAAAQAAAPMBAAAwggHvMIIBXKADAgECAhAog4J7GBzLtkOctoHha0l5MAkGBSsOAwIdBQAwFDESMBAGA1UEAxMJVG9jUm9vdENBMB4XDTEwMDUyMTEyMjMyMVoXDTEyMTIxMTIyMDAwMFowFTETMBEGA1UEAxMKVG9jV2NmQ2VydDCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAsdV6Lmy3W+Zqtl/TZmE2Z/Yfuf/9eLmsAbA9KoKF3uEUOpAZ0nVaE9lDuhKDuH2IShiidUR49k+e0ccYy6QhE943HCDRKujIcKuO0jqR/wO2PjBCoDV3Uea+QjBZsuir+WxUsewYT7kJnaTokC77H62nxwHXbEZJJ25X3o0CeJcCAwEAAaNJMEcwRQYDVR0BBD4wPIAQvlMVbMIpAE/7+IgCzLuAoKEWMBQxEjAQBgNVBAMTCVRvY1Jvb3RDQYIQiuoqtWwwObZBbNRC70Bb7zAJBgUrDgMCHQUAA4GBAG07On8N1pmO/V4h/gh1hQUYrEU4tASwhIwnrmCGVAlO2iaRDFqq6TlhzNHV1u3YrGEmEUH8DUx1H0cwLds+qJURBjPQf20EYXENhOp58kkO95DAaS9O8d+NoSV0Vl2/EmhuACdvrhysjmBSHvnKpDHFxD3n/M794KX4PRDVk9L1"
                                 xdt:Transform="SetAttributes" />
                </identity>-->
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>