<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="DozpContext"
			 connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DOZP;User ID=...;Password=..."
			 xdt:Locator="Match(name)"
			 xdt:Transform="SetAttributes" />
	</connectionStrings>
	
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<customErrors mode="Off" xdt:Transform="Insert" />
	</system.web>
	
	<system.serviceModel>
		<services>
			<service name="Comdat.DOZP.Services.DozpService" behaviorConfiguration="WsHttpServiceBehavior">
				<!--<endpoint name="WsHttpDozpService"
						  address="http://ffas04.ff.cuni.cz/Service.svc"
						  xdt:Locator="Match(name)"
						  xdt:Transform="SetAttributes">
				</endpoint>-->
				<host>
					<baseAddresses>
						<add baseAddress="http://ffas04.ff.cuni.cz/" xdt:Transform="SetAttributes" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="WsHttpServiceBehavior">
					<serviceMetadata httpGetEnabled="false" xdt:Transform="SetAttributes" />
					<serviceDebug includeExceptionDetailInFaults="false" xdt:Transform="SetAttributes" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>