<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.serviceModel>
		<services>
			<service name="Comdat.DOZP.Services.DozpService" behaviorConfiguration="WsHttpServiceBehavior">
				<!--<endpoint name="WsHttpDozpService"
						  address="http://localhost:12623/Service.svc"
						  xdt:Locator="Match(name)"
						  xdt:Transform="SetAttributes">
				</endpoint>-->
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:12623/" xdt:Transform="SetAttributes" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>